*{
    margin: 0;
    padding:0;
}

body{
    font-family: "Trip Sans VF", "Trip Sans", Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
}

body > div:first-child{
    margin-left:10%;
    margin-right:10%;
    padding:10px;
}

.navbar{
    margin:5px;
    padding:10px;
    position: sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    background-color: white;
    z-index: 1;
}

.navbar1{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo img{
    width:188px;
}

.navbar__logo{  
    cursor: pointer;
}
.navbar__signin{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.search-section__search-box{
    border-radius:50px;
    border: solid #E0E0E0 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width:70%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.search-section__search-box input{
    border:none;
    width:300px;
    font-size: medium;
}
.search-section__search-box__input{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    padding:20px;
}
.navbar__signin-currency{
    border: none;
    cursor: pointer;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
    background: none;
}
.navbar__signin-currency div{
    font-weight: 600;
    font-size: medium;
}
.navbar__signin-currency .line{
    color: #E0E0E0;
    border-right: solid #E0E0E0 1px;
    height:25px;
}
.navbar__signin-currency span{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
.navbar__signin-currency img{
    width: 20px;
}

.navbar__categories{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:5px;
}

.navbar__search-box{
    border: solid #E0E0E0 1px;
    display: none;
    gap: 5px;
    width:40%;
    padding: 10px;
    border-radius: 20px;
    align-items: center;

}

.navbar__search-box input{
    border:none;
}

.navbar__categories button, .navbar__categories a{
    text-decoration: none;
    border: none;
    color:black;
    cursor: pointer;
    background:none;
    padding:15px;
}

.navbar__signin-button{
    border: none;
    background-color: black;
    color: white;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 25px;
    font-size: medium;
    cursor: pointer;
}
.search-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin:30px;
}
.search-section__title{
    font-size: 54px;
    font-weight: 900;
    font-style: normal;
    font-family: "Trip Sans VF", "Trip Sans", Arial, sans-serif;
}
.search-section__sub-categories{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap:5px;
    margin:10px;
}

.search-section__sub-categories img{
    width:20px;
}

.search-section__sub-categories__s1, .search-section__sub-categories__s2, .search-section__sub-categories__s3, .search-section__sub-categories__s4, .search-section__sub-categories__s5, .search-section__sub-categories__s6{
    display:flex;
    gap:5px;
    align-items: center;
    justify-content: center;
    padding:10px;
    font-size: 18px;
    font-weight: lighter;
    border:solid transparent 2px;
    cursor: pointer;
}

.search-section__sub-categories__s1{
    border-bottom-color: black;
}
.navbar__categories span{
    font-size: medium;
    font-family: sans-serif;
    font-weight: 550;
}

.main-banner__image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:30px;
    padding:30px;
}

.main-banner__image img{
    border-radius: 20px;
}

.search-section__search-box button{
    background-color: #35E0A1;
    color: black;
    border-radius: 25px;
    padding:15px;
    font-size: 18px;
    border:none;
    margin-right:5px;
    cursor: pointer;
}

.main-banner{
    position: relative;
    width:100%;
}

.main-banner__content {
    position: absolute;
    top:15%;
    left:57%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width:45%;

}

.main-banner__content__s1{
    display: flex;
    gap:10px;
    align-items: center;
    font-weight: 700px;
    font-size: 14px;
    font-style: normal;
}


.main-banner__content__s1 >div:last-child{
   background-color: black;
   color: white;
   border-radius: 5px;
   padding:7px;
}

.main-banner__content__s2{
    font-size: 56px;
    font-weight: 800px;
    font-style: normal;
    display: flex;
    flex-wrap: wrap;
    width:65%;
}

.main-banner__content__s3 {
    font-size: 32px;
    font-weight: 700px;
    font-style: normal;
    display: flex;
    flex-wrap: wrap;
    width:75%;
}

.main-banner__content__s4{
    padding:15px;
    background-color: black;
    color: white;
    border-radius: 25px;
    width : fit-content;
    cursor: pointer;
}

.seaside{
    margin-top:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width:100%;
    gap: 15px;
    font-weight: 700px;
    left:2%;

}
.seaside__card{
    display: flex;
    gap:10px;
    width: 100%;
}
.seaside__card__s1, .seaside__card__s2, .seaside__card__s3, .seaside__card__s4, .seaside__card__s5{
    width: 23.5%;
    position: relative;
    cursor: pointer;
}

.seaside__card img{
    width:100%;
    border-radius: 10px;
}
.seaside__card__s1 > div, .seaside__card__s2 > div, .seaside__card__s3 > div, .seaside__card__s4 > div, .seaside__card__s5 > div{
    position: absolute;
    height:20%;
    width:100%;
    bottom: 0%;
    background-color: rgba(0, 0, 0, 0.3);
}
.seaside__card__s1 span, .seaside__card__s2 span, .seaside__card__s3 span, .seaside__card__s4 span, .seaside__card__s5 span{
    position: absolute;
    left:10%;
    opacity: 1;
    color: #FFFFFF;
    font-weight: 800px;
    font-size: 28px;
}
.seaside p{
    font-weight: lighter;
    color: #333333;
}

.creators-box{
    margin-top:50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width:100%;
    gap: 15px;
    font-weight: 700px;
    left:2%; 
}

.creators-box__card{
    display: flex;
    gap:10px;
    width: 100%;
}

.creators-box__card__s1, .creators-box__card__s2, .creators-box__card__s3{
    width:31.5%;
    position: relative; 
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
}
.creators-box__card__s1 > div, .creators-box__card__s2 > div, .creators-box__card__s3 > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.creator-name{
    font-weight:800px;
}

.creators-box__card img{
    width:100%;
    height:70%;
    border-radius: 10px; 
}

.creators-box > p{
    font-weight: lighter;
    color: #333333;
}

.creators-box__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #333333;
    font-weight: lighter;

}

.navbar__categories button:hover{
    border-radius:25px;
    background-color: #F2F2F2;
}

.navbar__signin-currency:hover{
    border-radius:25px;
    background-color: #F2F2F2;
}

.navbar__categories a:hover{
    text-decoration: underline;
    color: #545454;
}

.navbar__signin-button:hover{
    background-color: #333333;
}

.search-section__sub-categories__s1:hover, .search-section__sub-categories__s2:hover, .search-section__sub-categories__s3:hover, .search-section__sub-categories__s4:hover, .search-section__sub-categories__s5:hover, .search-section__sub-categories__s6:hover{
    color: #545454;
    border-bottom-color: #545454;
}

.search-section__search-box input:focus{
    outline: none;
}

.creator-name > span:hover{
    text-decoration: underline;
    text-decoration-color: #545454;
    color: #545454;
}

.creators-box__content:hover{
    text-decoration: underline;
    text-decoration-color: #545454;
    color: #545454;
}

.navbar__search-box input:focus{
    outline:none;
}

.navbar{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.navbar2{
    display: none;
    gap:15px;
    font-weight: 400px;
    font-style: normal;
    font-size: medium;
    position: relative;
    left: 0%;
}

.navbar2 p{
    cursor: pointer;
}

.navbar2 p:hover{
    text-decoration: underline;
}

.footer {
    background-color: #F2F2F2;
    color:#565656;
    width:fit-content;
    flex-wrap: wrap;
    margin-top: 10px;
    padding-left: 12%;
    padding-top:2%;
    display: flex;
    gap: 40px;
    font-weight: lighter;
    position: relative;

}
.footer ul{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.footer__title{
    margin-bottom:10px;
}
.footer li{
    list-style: none;
    font-size: 15px;

}

.footer li:hover{
    text-decoration: underline;
    color: #6C6C6C;
    text-decoration-color: #6C6C6C;
}

.footer__s5{
    display: flex;
    flex-direction: column;
    gap:10px;
    flex-wrap: wrap;
}
.footer__s5__one{
    display: flex;
    gap: 10px;
}

.footer__s5 img{
    width: 40px;
}

.footer__s5__logo{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.footer__s5__logo > div{
    display: inline-block;
}

.footer__s5 a{
    color:#545454;
}
.footer__s5__logo > div:first-child{
    color: #545454;
    font-weight: lighter;
    font-size: small;
}

.footer__s5__logo > div:last-child{
    display: flex;
    gap: 10px;
    width:95%;
    flex-wrap: wrap;
    font-size: large;
    font-weight: normal;
}
.footer__s5 a:hover{
    color: #818181;
}

.footer__s5__rights{
    font-size: small;
    font-weight: lighter;
    color: #545454;
}

.footer__s5__rights button{
    border: none;
    color: #333333;
    font-weight: bold;
}

.footer__s5__rights button:hover{
    text-decoration: underline;
    text-decoration-color: #818181;
}
.footer__s5__rights{
    width:60%;
}

.footer__s4{
    margin-left: 20%;
}

.footer__s3{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.search-section__search-box button:hover{
    background-color: #83E9BD;
}

.footer__s4 span{
    text-decoration: underline;
    cursor: pointer;
}

.footer__s4 span:hover{
    color: #818181;
    text-decoration-color: #818181;
}

.footer__s6{
    display: flex;
    position: absolute;
    bottom: 30%;
    right: 15.5%;
    gap: 10px;
}

.footer__s6 > div{
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    color:black;
    width: 70%;
}

.footer__s6 select{
    border: none;
    font-size: normal;
}

.footer__s6 select:focus{
    outline: none;
}

.footer__s7{
    display:flex;
    position: absolute;
    bottom: 20%;
    right: 15.5%;
    gap: 5px;
}

.footer__s7 i{
    width: 30px;
}

.toggle{
    display:none;
    width: 18px;
    height:18px;
}

.navbar__logo{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}

.search-section__sub-categories{
    overflow-x: auto;
    white-space:  nowrap;
}

@media screen and (max-width:800px) {

    .navbar__categories{
        display:none;
    }
    .navbar__signin-currency{
        display:none;
    }

    .toggle{
        display:block;
    }

    .search-section__title{
        display:none;
    }
}